<form action="/user/createaccount" method="post">
    <div id="username">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div id="password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="password">Confirm Password</label>
        <input type="password" id="confirm_password" name="password" required>
    </div>

    <button type="submit">Create Account</button>
</form>