<form action="/user/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <button type="submit">Create Account</button>
</form>