<!DOCTYPE html>
<html>
<head>
          <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
          <link rel="stylesheet" href="~/css/home.css" />

</head>
<header>
  <br><br><br>
</header>
<body>
  <main role="main">
            @RenderBody()
  </main>
</body>
   <footer class="footer text-muted">
        <div>
            GroupBox by Jacob Shelton, Justin Smith, and Trevor Tamura   &copy; 2019 
        </div>
    </footer>
</html>