@model List<GroupBox.Domain.Models.Group>

<ul>
  @foreach (var item in Model)
  {
    <!-- add an href to send the user to the group they selected -->
    <!-- also add a search function to be able to find a particular group -->
    <li>@item.Name</li>
  }
</ul>