@model GroupBox.Domain.Models.Group

<form action="/group/create" method="post">
    <label for="name">Group Name</label>
    <input type="text" id="name" name="name" placeholder="">

    <!-- needs to be able to later add users -->
    <!-- needs to be able to later add posts -->
    <!-- these values start as null in the initialization of the group -->

    <button type="submit">Create Group</button>
</form>