<!-- This is the base of what every group will look like -->
<!-- might make this a Partial View to be shared by every group view? -->


<!-- section for posting things (post bar, or post button) -->
<!-- each post can be clicked to display the comments on that post (separate sub view?) -->

@model GroupBox.Domain.Models.Group
@{
  Layout="_mainLayout";
}
<h1>
    @Model.Name
    <form action="/Group/Group" method="post"><button type="submit">Join!</button></form>
</h1>

<div name="post-div">
    <form action="/Group/Post" method="post">
        <textarea name="content" rows="5" cols="50" style="resize:none" placeholder="Enter your post..."></textarea>
        <button type="submit">Submit!</button>
    </form>
</div>

<ul>
  @if (Model!=null)
  {
      @Model.Posts.Count
  @foreach (var item in Model.Posts)
  {
    <li>@item.Content</li>
  }
  }
</ul>