<!-- This is the base of what every group will look like -->
<!-- might make this a Partial View to be shared by every group view? -->


<!-- section for posting things (post bar, or post button) -->
<!-- each post can be clicked to display the comments on that post (separate sub view?) -->

@model GroupBox.Domain.Models.Group
@{
  Layout="_mainLayout";
}
<head>
  @using Microsoft.AspNetCore.Mvc.Rendering;
  @using GroupBox.Domain.Models;
  @using System.Collections.Generic;

  <style> #overflow{
    overflow:auto;
  }
  </style>
</head>
<h1>
    @Model.Name
    @if(!(Model.Users.Contains(ViewBag.u)))
    {
    <form action="/Group/Group" method="post"><button type="submit">Join!</button></form>
    }
</h1>
<div class=containerC id=overflow>
<ul class="postp">
  @if (Model!=null)
  {
  @foreach (var item in Model.Posts)
  {
    Html.RenderPartial("_vPost", (Post) item);
  }
  }
</ul> 
<div  name="post-div">

  @if(Model.Users.Contains(ViewBag.u))
  {
    <form action="/Group/Post" method="post">
        <textarea name="content" rows="5" cols="50" placeholder="Enter your post..."></textarea><br>
        <button type="submit">Submit!</button>
    </form>
  }
</div>
</div>
