<!-- This is the base of what every group will look like -->
<!-- might make this a Partial View to be shared by every group view? -->


<!-- section for posting things (post bar, or post button) -->
<!-- each post can be clicked to display the comments on that post (separate sub view?) -->

@model List<GroupBox.Domain.Models.Post>
@{
  Layout="_mainLayout";
}
<h1>
    @ViewBag.gname
    <form action="/Group/Group" method="post"><button type="submit">Join!</button></form>
</h1>

<ul>
  @if (Model!=null)
  {
  @foreach (var item in Model)
  {
    <li>@item.Content</li>
  }
  }
</ul>