@{
  Layout="_homeLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group Box</h1>


     <div class=hlink>To login, please click @Html.ActionLink("here", "Login", "User")</div>

     <div class=hlink>If you do not have an account, please click @Html.ActionLink("here", "CreateAccount", "User")</div>

</div>
 